@font-face {
	font-family: "Portia";
	src: url("fonts/PortiaBoldETSv1-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Nimbus";
	src: url("fonts/Nimbus-Roman-Mono-M.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Gravity";
	src: url("fonts/Gravity-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
	color: #adadad;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: black;
	font-family: "Gravity";
}

span.small {
	font-size:smaller;
}

.nav li {
	display: inline;
}

.nav a {
	display: inline-block;
	padding: .5em;
	color: white;
	text-decoration: none;
}

.nav a:hover {
	background-color: rgba(255, 255, 255, .2)
}

.main-nav {
	font-family: "portia";
	text-align: center;
	font-size: 1.1em;
	font-weight: lighter;
}

.main-nav li {
	padding: 0 0%;	
}

.main-header {
	background-color: rgba(0, 0, 0, 1);
	background-size: cover;
	padding-bottom: 20px;
}

.title {
	text-align: center;
	max-width: 900px;
	margin: auto;
	padding: 0 1.5em;
	font-size: 2em;
	font-family: "Portia";
	font-weight: normal;
	color: whitesmoke;
}

.content-section {
	margin: 1em;
}

.content-section a:link {
	text-decoration: none;
}

.content-section a:hover {
	background-color: rgba(255, 255, 255, .2)
}

.container {
	max-width: 900px;
	margin: auto;
	padding: 0 1.5em;
	font-family: "Nimbus";
	text-align: justify;
	line-height: 1.5;
}	

.container2 {
	max-width: 900px;
	margin: auto;
	padding: 0 1.5em;
	font-family: "Gravity";
	text-align: justify;	
	line-height: 1.5;
}

.section-header {
	font-family: "Nimbus";
	font-weight: normal;
	color: #d8d8d8;
	text-align: left;
	padding: 0 0;
}

.section-header2 {
	font-family: "Nimbus";
	font-weight: normal;
	color: #d8d8d8;
	text-align: center;
	padding: 0 1.5em;
}

.home-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: auto;
	object-fit: contain;
}

